@{
    ViewBag.Title = "ManageUserRoles";
}

<h1>Manage User Roles</h1>
<hr />

<h2>@Html.ActionLink("Create New Role", "Create")</h2>

<h2>Add User to Role</h2>

@using (Html.BeginForm("AddUser", "Role"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Label("Username")
    @Html.TextBox("Username")

    @Html.Label("Role Name")
    @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    <input type="submit" value="Save" />
}
