@{ 
    ViewData["Title"] = "Create";
}

<h1>Create a New Role</h1>
<hr />

<h2>@Html.ActionLink("View All Roles", "Index")</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Label("Role Name")
    @Html.TextBox("Name")

    <input type="submit" value="Save" />
}