@using CalendarMapping.Models
@model IEnumerable<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="~/Content/js/RoleScripts.js" type="text/javascript"></script>
    </head>
    <body>
        <div>
            @Html.Hidden("CreateUrl", Url.Action("Create"))
            @Html.Hidden("EditUrl", Url.Action("Edit"))
            @Html.Hidden("DeleteUrl", Url.Action("Delete"))
            @Html.Hidden("AddUserUrl", Url.Action("AddUser"))
            @Html.Hidden("RemoveUserUrl", Url.Action("RemoveUser"))
        </div>

        <h1 class="page-header">Role Manager</h1>
        <br />

        <div>
            <button id="new-role-btn" class="btn btn-primary">Open/Close New Role Form</button>

            <form action="Create" method="post" id="new-role-form" class="form-group">
                <h2>Create Role</h2>
                <label for="roleName">Role Name</label>
                <input type="text" name="newName" class="form-control"/>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
        <br />
        <hr />

        <div>
            <h2>Roles List</h2>
            <div class="row">
                @foreach (var role in Model)
                {
                    <h5 class="col-xs-4">@role.Name</h5>
                    //Form should have a class not an id when inside a loop otherwise only the first value in the loop inherits the id & resulting function/request
                    <form action="Edit" method="post" class="col-xs-5 form-group edit-role">
                        <label for="roleName"> Name</label>
                        <input placeholder=@role.Name value=@role.Name name="roleName" class="form-control"/>
                        <input type="hidden" value=@role.Id name="roleId" class="form-control"/>
                        <button type="submit" class="btn btn-success">Edit</button>
                    </form>
                    <form action="Delete" method="post" class="col-xs-3 form-group delete-role">
                        <input type="hidden" value=@role.Id name="roleId" class="form-control"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                }
            </div>
        </div>
        <br />
        <hr />

        <div>
            <h2>Add User to Role</h2>
            <form action="AddUser" method="post" id="add-user-form" class="form-group">
                <label>Username</label>
                <input name="username" class="form-control"/>
                <label>Roles</label>
                @Html.DropDownList("roleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select...")
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
        <br />
        <hr />

        <div>
            <h2>Remove User From Role</h2>
            <form action="RemoveUser" method="post" id="remove-user-form" class="form-group">
                <label>Username</label>
                <input name="username" class="form-control" />
                <label>Roles</label>
                @Html.DropDownList("roleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select...")
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </body>
</html>

