@using CalendarMapping.Models
@model IEnumerable<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#new-role-form").hide();
                $("#new-role-btn").click(function () {
                    $("#new-role-form").toggle();
                });
                $("#new-role-form").submit(function (event) {
                    event.preventDefault();
                    $.ajax ({
                        type: "POST",
                        dataType: "html",
                        data: $(this).serialize(),
                        url: '@Url.Action("Create")',
                        success: function (result) {
                            location.reload();
                        }
                    });
                });
                $("#add-user-form").submit(function (event) {
                    event.preventDefault();
                    $.ajax({
                        type: "POST",
                        dataType: "html",
                        data: $(this).serialize(),
                        url: '@Url.Action("AddUser")',
                        success: function (result) {
                            location.reload();
                        }
                    });
                });
                $(".delete-role").submit(function (event) {
                    event.preventDefault();
                    if (confirm("Are you sure you want to delete this role?")) {
                        $.ajax({
                            type: "POST",
                            dataType: "html",
                            data: $(this).serialize(),
                            url: '@Url.Action("Delete")',
                            success: function (result) {
                                location.reload();
                            }
                        });
                    }
                });
                $(".edit-role").submit(function (event) {
                    event.preventDefault();
                    $.ajax({
                        type: "POST",
                        dataType: "html",
                        data: $(this).serialize(),
                        url: '@Url.Action("Edit")',
                        success: function (result) {
                            location.reload();
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <h1>Role Manager</h1>
        <br />
        <hr />

        <div>
            <button id="new-role-btn">Open/Close New Role Form</button>

            <form action="Create" method="post" id="new-role-form">
                <h2>Create Role</h2>
                <label for="roleName">Role Name</label>
                <input type="text" name="newName" />
                <button type="submit">Save</button>
            </form>
        </div>
        <br />
        <hr />

        <div>
            <h2>Roles List</h2>
            <div class="row">
                @foreach (var role in Model)
                {
                    <h5 class="col-xs-4">@role.Name</h5>
                    //Form should have a class not an id when inside a loop otherwise only the first value in the loop inherits the id & resulting function/request
                    <form action="Edit" method="post" class="col-xs-5 edit-role">
                        <label for="roleName"> Name</label>
                        <input placeholder=@role.Name value=@role.Name name="roleName" />
                        <input type="hidden" value=@role.Id name="roleId" />
                        <button type="submit">Edit</button>
                    </form>
                    <form action="Delete" method="post" class="col-xs-3 delete-role">
                        <input type="hidden" value=@role.Id name="roleId" />
                        <button type="submit">Delete</button>
                    </form>
                }
            </div>
        </div>
        <br />
        <hr />

        <div>
            <h2>Add User to Role</h2>
            <form action="AddUser" method="post" id="add-user-form">
                <label>Username</label>
                <input name="username" />
                <label>Roles</label>
                @Html.DropDownList("roleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select...")
                <button type="submit">Save</button>
            </form>
        </div>
    </body>
</html>

