@model CalendarMapping.Models.Event

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="~/Content/js/EventScripts.js" type="text/javascript"></script>
    </head>
    <body>
        <div>
            @Html.Hidden("EditEventUrl", Url.Action("EditEvent"))
            @Html.Hidden("DeleteCurrentEventUrl", Url.Action("DeleteEvent"))
        </div>

        <h1 class="page-header">@Model.Description</h1>
        <br />

        <div class="more-content">
            <h2>Address: @Model.Address</h2>
            <div class="row">
                <h2></h2>
                <h2 class="col-xs-5">@Model.StartingDateTime.ToString("MM/dd/yyyy") - @Model.StartingDateTime.ToString("hh:mm tt")</h2>
                <h2 class="col-xs-2">to</h2>
                <h2 class="col-xs-5">@Model.EndingDateTime.ToString("MM/dd/yyyy") - @Model.EndingDateTime.ToString("hh:mm tt")</h2>
            </div>
        </div>
        <br />
        <hr />
        <br />

        <div>
            <button id="edit-form-btn" class="btn btn-primary">Open/Close Edit Event Form</button>
            <form action="EditEvent" method="post" id="edit-event" class="form-group row">
                <h2>Edit Event</h2>
                <label for="description">Description</label>
                <input type="text" value="@Model.Description" name="description" class="form-control" />

                <div class="col-xs-6">
                    <label for="startingDateTime">Starting Date/Time</label>
                    <input type="datetime" value="@Model.StartingDateTime" name="startingDateTime" class="form-control" />
                </div>
                <div class="col-xs-6">
                    <label for="endingDateTime">Ending Date/Time</label>
                    <input type="datetime" value="@Model.EndingDateTime" name="endingDateTime" class="form-control" />
                </div>

                <label for="address">Address</label>
                <input type="text" value="@Model.Address" name="address" class="form-control" />

                <input type="hidden" value=@Model.Id name="eventId" />
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
        <br />
        <hr />
        <br />

        <form action="DeleteEvent" method="post" class="col-xs-6 delete-event-details">
            <input type="hidden" value=@Model.Id name="eventId"/>
            <button type="submit" class="btn btn-danger delete-event-btn last-element">Delete Event</button>
        </form>
    </body>
</html>

