@using System.Security.Claims
@model IEnumerable<CalendarMapping.Models.Event>

@{ 
    ViewData["Title"] = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#new-event-form").hide();
                $("#display-event-form").click(function () {
                    $("#new-event-form").show();
                    $("#display-event-form").hide();
                });
                $("#new-event-form").submit(function (event) {
                    event.preventDefault();
                    $.ajax ({
                        type: "POST",
                        dataType: "html",
                        data: $(this).serialize(),
                        url: '@Url.Action("Create")',
                        success: function (result) {
                            location.reload();
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <h1>Event Manager</h1>
        <hr />

        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <button id="display-event-form">Create a New Event</button>

                <form action="Create" method="post" id="new-event-form">
                    <h2>Create Event</h2>
                    <label for="description">Description</label>
                    <textarea type="text" name="newDescription"></textarea>

                    <label for="date">Date</label>
                    <input type="date" name="newDate" />

                    <label for="startTime">Start Time</label>
                    <input type="time" name="newStartTime" />
                    <label for="endTime">End Time</label>
                    <input type="time" name="newEndTime" />

                    <label for="address">Address</label>
                    <input type="text" name="newAddress" />
                    <button type="submit">Save</button>
                </form>
            </div>
            <hr />

            <div>
                <h2>Events List</h2>
                <ul>
                    @foreach (var individualEvent in Model)
                    {
                        <li>@individualEvent.Description: @individualEvent.Address | 
                        @individualEvent.Date.Month/@individualEvent.Date.Day/@individualEvent.Date.Year | 
                        @individualEvent.StartTime.Hour:@individualEvent.StartTime.Minute - @individualEvent.EndTime.Hour:@individualEvent.EndTime.Minute
                        </li>
                    }
                </ul>
            </div>
            <br />
            <hr />
        }
    </body>
</html>