@using CalendarMapping.ViewModels
@model RegisterViewModel

@{ 
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register for a New Account</h1>
<br />
<hr />

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <form class="form-group">
        <label>First Name</label>
        @Html.TextBoxFor(m => m.FirstName)

        <label>Last Name</label>
        @Html.TextBoxFor(m => m.LastName)

        <label>Email</label>
        @Html.TextBoxFor(m => m.Email)

        <label>Phone Number</label>
        @Html.TextBoxFor(m => m.PhoneNumber)

        <label>Username</label>
        @Html.TextBoxFor(m => m.Username)

        <label>Password</label>
        @Html.PasswordFor(m => m.Password)

        <label>Confirm Password</label>
        @Html.PasswordFor(m => m.ConfirmPassword)

        <button type="submit" class="btn btn-success">Register</button>
    </form>
}